body{
    background-image: url(background.jpg);
    text-align: center;
    display: flex;
}
#controls{
    float: right;
    margin-top: 10px;
    
}
#game{
    background-image: url(pistamax100.gif);
    border-radius: red;
    height: 600px;
    width: 800px;
    border-style:dashed;
}

#carro{
    position: absolute;
    top: 420px;
    height: 140px;
    left: 280px;
    
}
#controle{
    text-align: left;
    margin-top: 50px;  
}
#acelerar{
    margin-top: 120px;
    position: relative;
    width: 70px;
    height: 30px;
}
#volante{
    margin-top: 150px;
    
}
#volantep{
    color: white;
}
input{
    cursor: pointer;
}
#direita{
    cursor: pointer;
}
#esquerda{
    cursor: pointer;
    color: black;
}
#vertocode{
   font-size: 20px;
   
   margin-top: 350px;
}
#nickname{
    position: absolute;
    top: 360px;
    height: 140px;
    left: 264px;
    color: rgb(70, 233, 255);
    width: 200px;
    height: 30px;
}

